.sidebar {
  height: 100vh;
  flex: 0.1;
  width: 210px;
  overflow-y: overlay;
  color: white;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  background-color: #040404;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar__logo {
  height: 38px;
  padding: 20px;
  margin-top: 5px;
  margin-right: auto;
}

.sidebar__title {
  padding: 5px;
  margin-left: 10px;
  font-size: 12px;
}
